* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(./img/bg-cat.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 850px;
    height: 700px;

    @media (max-width: 1200px) {
        background-size: cover;
    }

    @media (max-width: 800px) {
        background-image: none;
    }
}

.a{
    border-bottom: 2px solid white;
}
.head {
    display: flex;
    gap: 700px;
    align-items: center;

    @media (max-width: 1580px) {
        justify-content: space-evenly;
        gap: 0px;
    }

    @media (max-width: 720px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.links {
    display: flex;
    gap: 25px;
    white-space: nowrap;

    img {
        display: none;

        @media (max-width: 410px) {
            display: block;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;

        @media (max-width: 800px) {
            color: #000;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 410px) {
        display: none;
    }

}

.box {
    h1 {
        font-size: 50px;
        font-weight: 600;

        @media (max-width: 410px) {
            font-size: 35px;
        }
    }

    h3 {
        font-size: 20px;
        padding: 40px 0 50px;
        font-weight: 600;
    }

    button {
        font-size: 20px;
        padding: 15px 25px;
        color: #fff;
        background-color: #68B738;
        border: none;
    }


    @media (max-width: 770px) {
        text-align: center;
    }
}

.wrap {
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: center;

    img {
        max-width: 550px;
        width: 100%;
    }

    @media (max-width: 1050px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.wrap1 {
    display: flex;
    margin-top: 85px;
    gap: 80px;

    @media (max-width: 1245px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 820px) {
        margin-top: 300px;
    }
}

.title {
    h2 {
        font-size: 36px;
        font-weight: 600;
    }

    display: flex;
    align-items: center;
    gap: 50px;
}

.box1 {
    background-color: rgb(237, 235, 235);
    max-width: 570px;
    padding: 50px 50px;

    p {
        padding: 40px 0 25px;
        font-size: 16px;
    }

}

.catalog {
    display: flex;
    gap: 30px;

    @media (max-width: 380px){
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
    }
}

.section2 {
    h1 {
        margin-bottom: 35px;
        margin-top: 70px;
        font-size: 60px;
        font-weight: 600;
    }
}

.box2 {
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 250px;
    height: 280px;

    img {
        margin-bottom: 30px;
    }
}

.box3 {
    background-image: url(./img/2.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box4 {
    background-image: url(./img/3.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box5 {
    background-image: url(./img/4.png);
    background-repeat: no-repeat;
    background-position: right;
}

.wrap2 {
    display: flex;
    gap: 80px;

    @media (max-width: 1300px) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}